:root{
    --main-bg: white;
    --compl-bg: #F3F8F5;
    --main-text: #383838;
    --compl-text: #8FBC8F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    color: var(--main-text);
}

hr{
    max-width: 5%;
    border: 5px solid var(--compl-text);
    border-radius: 5px;
    margin-left:0;
}

small{
    font-size: 24px;
    font-weight: 500;
}

.banner-info{
    margin-top: 5%;
}

.img-me{
    border-radius: 50%;
    width: 90%;
    height: auto;
    overflow: hidden;
}

.nav-link{
    color: var(--compl-text) !important;
}

.banner-text{
    color: var(--main-text);
}

.sub-name-deets{
    color: var(--compl-text);
}

.sub-deets{
    color: var(--main-text);
}

.socials{
    padding: 10px;
    margin-top: 40px;
}

.fa {
    padding: 0px 10px 10px 0px;
    margin: 0px 20px 10px 0px;
    transform: scale(1.5);
    color: var(--compl-text);
}

.content-photo{
    width: 200px;
    height: 200px;
}

.head-title{
    margin-top: 0px;
    padding-top: 0px;
}

#about{
    margin: 50px 0px 40px 0px;
    background-color: var(--compl-bg);
}

.work-icon{
    float: middle;
    max-width:50px;
    max-height:50px;
    width:auto;
    height:auto;
    color: var(--main-text);
    padding-top: 10px;
    margin: 10px 0px 10px 0px;
}

.used{
    color: var(--compl-text);
    font-style: italic;
}

.date{
    font-style: normal;
}

.card{
    color: var(--main-text);
    margin-bottom: 20px;
    transition: transform .5s;
    /* max-height: 200px; */
    /* overflow: hidden; */
}

.card:hover{
    background-color: var(--compl-bg);
    transform: scale(1.01);
    /* cursor: pointer; */
}

/* .expanded-card{
    max-height: 600px;
} */

.feature-title{
    color: var(--main-text);
}

.feature-body{
    margin-top: 20px;
    padding: 10px;
    background-color: var(--compl-bg);
}

.sub-title{
    font-size: 30px;
    font-weight: 700;
    margin-top: 3rem;
    color: var(--compl-text);
}

.about{
    margin-top: 0px;
}

.link{
    color: var(--compl-text);
    font-weight: 700;
}

.skills-card{
    margin-bottom: 10px;
}

.skills-head:hover{
    color: var(--compl-text);
}